<ion-header>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        your ride
      </ion-title>
    </ion-toolbar>
  
  </ion-header>

<ion-content>

            <div class="image" color="light">
              <ion-avatar >
                  <img src="/assets/icon/pro.png">
                  
                </ion-avatar>
                
               
             
              </div>

                <ion-item lines="full">
               
                    <ion-text style="margin: 16px;">Manu kg
                    </ion-text>
                  </ion-item>
                  <ion-item lines="full">
                      <app-rating></app-rating>

                  </ion-item>
                    <!--driver part end -->
                  <app-invoice></app-invoice>
              
</ion-content>
