<ion-header >
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>
        your ride
      </ion-title>
    </ion-toolbar>
  
  </ion-header>

<ion-content>

            <div class="image" color="light" text-center>
              <ion-avatar >
                  <img src="/assets/icon/pro.png">
                  
                </ion-avatar>
                
               
             
              </div>

               <div  text-center>
                    <ion-card-title>Manu kg
                    </ion-card-title>
                  </div>
                      <app-rating></app-rating>
                      <ion-item>
                          <ion-label position="stacked">message</ion-label>
                          <ion-textarea
                            disabled
                            readonly
                            value="i am reach there in 5 minit">
                          </ion-textarea>
                        </ion-item>
                    <!--driver part end -->
                  <app-invoice></app-invoice>
                  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
                    <ion-fab-button color="success">
                      <ion-icon name="call"></ion-icon>
                    </ion-fab-button>
                  </ion-fab>
</ion-content>

