
<ion-card (click)="dismiss()">
  <ion-card-header>
    <ion-card-title text-center>
      charge
    </ion-card-title>
    <ion-card-content>
        
          <ion-item lines="none">
            <ion-label >From     :</ion-label>
            <ion-input slot="end"> </ion-input>
          </ion-item>
          <ion-item lines="none">
            <ion-text slot="start">To       :</ion-text>
            <ion-text slot="end">invoice.destAddress</ion-text>
          </ion-item>
          <ion-item lines="none">
            <ion-text slot="start">Distance :</ion-text>
            <ion-text slot="end">invoice.distance</ion-text>
          </ion-item>
          <ion-item lines="full">

                <ion-text slot="start">Totel cost : </ion-text>
            <ion-text slot="end">invoice.totel rs</ion-text>
          </ion-item>
          <div>
              <ion-row>
                  <ion-col>
                    <ion-button (click)="dismiss('confirm')"  color="primary" expand="block">confirm</ion-button>
                  </ion-col>
                  <ion-col>
                    <ion-button (click)="dismiss('cancel')" color="danger" expand="block">Cancel</ion-button>
                  </ion-col>
                </ion-row>
          </div>
    </ion-card-content>
  </ion-card-header>
</ion-card>