
<ion-card (click)="dismiss()">
  <ion-card-header>
    <ion-card-title text-center>
      charge
    </ion-card-title>
    <ion-card-content>
        

        <ion-item>
            <ion-text position="fixed"><b>Drop Adress</b> : palakkad kerala india palakkad kerala india
              </ion-text>
          </ion-item>
          <ion-item>
              <ion-text position="fixed"><b>pickup Adress</b> : palakkad kerala india palakkad kerala india
                </ion-text>
            </ion-item>
  

    <ion-item>
        <ion-label position="fixed"><b>KM</b></ion-label>
        <ion-text  slot="end"> 10</ion-text>
      </ion-item>
      
<ion-item>
    <ion-label position="fixed"><b>INR</b></ion-label>
    <ion-text  slot="end"> 150</ion-text>
  </ion-item>
    </ion-card-content>
  </ion-card-header>
</ion-card>