ion-avatar{
margin: auto;
width: 200px;
height: 200px;
border: 6px solid rgb(237, 243, 245);
}
ion-grid{
    min-height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
}
ion-row{
    width: 100%;
}

 .items{
    margin: auto;
    position: relative;
    width: 77px;
    height: 76px;
    top: -36px;
    left: 9px;
}