  <ion-header>
    <ion-toolbar>
      <ion-title>Header</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="pro">

      <ion-grid>
        <ion-row>
          <ion-col>
            <div class="image" color="light">
              <ion-avatar >
                  <img src="\assets\download.jfif">
                  
                </ion-avatar>
                
                <div class="items">
                    <ion-fab vertical="center" horizontal="center" slot="fixed">
                  <ion-fab-button color="light">
                    <ion-icon name="camera" color="primary"></ion-icon>
                  </ion-fab-button>
                  <ion-fab-list side="start">
                      <ion-fab-button><ion-icon name="images"></ion-icon></ion-fab-button>
                    </ion-fab-list>
                    <ion-fab-list side="end">
                        <ion-fab-button><ion-icon name="camera"></ion-icon></ion-fab-button>
                      </ion-fab-list>
                    </ion-fab>
              </div>
              </div>

                <ion-item>
               
                    <ion-text >Name :
                    </ion-text>
                  </ion-item>
                    <ion-item>
                    <ion-text>Email :
                      </ion-text>
                    </ion-item>
                    <ion-item>
                      <ion-text>Number :
                        </ion-text>
                      </ion-item>
                  
                
          </ion-col>
        </ion-row>
      </ion-grid>
  </ion-content>
