ion-avatar{

    margin: auto;
    width: 200px;
    height: 200px;
    border: 0px solid rgb(237, 243, 245);
    }
.left{
    float: right;
    }
ion-button{
    border-radius: 50%;
}
.login{
    float:right;
}
.space{
    margin: auto;
    position: relative;
    top: 30px;
    text-align: center;
    color: blue;
}
ion-button{
    position: relative;
    top:10px;
}