<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
        Available Riksha
      </ion-title>
    </ion-toolbar>
  
  </ion-header>

<ion-content>
  <ion-card>
    <ion-item lines="full">
        <ion-avatar slot="start">
          <img src="/assets/icon/pro.png">
        </ion-avatar>
        <ion-label>manu</ion-label>
      </ion-item>
      <!-- <ion-item>
          <ion-button expand="full">request</ion-button>
      </ion-item> -->
      <ion-item>
          <ion-card-subtitle>Waiting response</ion-card-subtitle>
          <ion-spinner slot="end" name="dots" color="primary"></ion-spinner>
      </ion-item>
        
    </ion-card>
    

</ion-content>
