ion-avatar{

    margin: auto;
    width: 200px;
    height: 200px;
    border: 0px solid rgb(237, 243, 245);
    }
.left{
    float: right;
    }
ion-button{
    border-radius: 50%;
}
.link{
    color:red;
}