
  <ion-content padding>
      <ion-avatar >
          <img src="\assets\login.png">
          
        </ion-avatar>
        
    <form [formGroup]="crimeForm">  
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input formControlName="username"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    
      <p text-right>Forgot Password?</p>
    
      <ion-button shape ="round" type="submit" expand="full" color="primary"
      (click)="login()">Login</ion-button>
      
    </form>
    <p class="link" text-center [routerLink]="['/signup']" color="Danger">Don't have a account?</p>
  </ion-content>